In [1]:
"""
CBC data_for_meandeley_csv   :  https://www.kaggle.com/datasets/saurabhshahane/anemia-diagnosis-dataset


Context

This data set presents the prevalence of different types of Anemia including it’s severity and association with age and gender of the study population with CBC data set parameters as variables. We generated dataset from complete blood count test performed by Hematology analyzer to determine the prevalence of different types of Anemia treated at the Eureka diagnostic center in Lucknow, India. All the procedures for the CBC test were done following standard operating protocols defined for the Hematology analyzer. For CBC investigation, 400 patient samples were randomly selected to compute the dataset from the patients who visited the Eureka diagnostic center in Lucknow for various clinical examinations. The diagnostic center performs 4 – 8CBC investigations a day on average. During the data collection period between September 2020 to December 2020, 1000 CBC investigations were performed, out of which 400 random samples were selected. We included adult males and females who are not pregnant and older than 15 years of age in the study population. Infants, young children less than 10 years old and pregnant women were excluded from the study due to various factors like variable CBC test values and other factors. After excluding the above stated persons from the randomly chosen sample of 400 patients, we were left with 364 patients in the final data set.
Acknowledgements

Vohra, Rajan; pahareeya, jankisharan; Hussain, Abir (2021), “Complete Blood Count Anemia Diagnosis”, Mendeley Data, V1, doi: 10.17632/dy9mfjchm7.1


8.24
"""

'\nCBC data_for_meandeley_csv   :  https://www.kaggle.com/datasets/saurabhshahane/anemia-diagnosis-dataset\n\n\nContext\n\nThis data set presents the prevalence of different types of Anemia including it’s severity and association with age and gender of the study population with CBC data set parameters as variables. We generated dataset from complete blood count test performed by Hematology analyzer to determine the prevalence of different types of Anemia treated at the Eureka diagnostic center in Lucknow, India. All the procedures for the CBC test were done following standard operating protocols defined for the Hematology analyzer. For CBC investigation, 400 patient samples were randomly selected to compute the dataset from the patients who visited the Eureka diagnostic center in Lucknow for various clinical examinations. The diagnostic center performs 4 – 8CBC investigations a day on average. During the data collection period between September 2020 to December 2020, 1000 CBC investigations were performed, out of which 400 random samples were selected. We included adult males and females who are not pregnant and older than 15 years of age in the study population. Infants, young children less than 10 years old and pregnant women were excluded from the study due to various factors like variable CBC test values and other factors. After excluding the above stated persons from the randomly chosen sample of 400 patients, we were left with 364 patients in the final data set.\nAcknowledgements\n\nVohra, Rajan; pahareeya, jankisharan; Hussain, Abir (2021), “Complete Blood Count Anemia Diagnosis”, Mendeley Data, V1, doi: 10.17632/dy9mfjchm7.1\n\n\n8.24\n'

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.datasets import fetch_openml

import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
file_csv = "CBC data_for_meandeley_csv.csv"

df = pd.read_csv(file_csv)

In [4]:
df.shape

(374, 12)

In [5]:
df.columns

Index(['S. No.', 'Age      ', 'Sex  ', '  RBC    ', 'PCV', 'MCV  ', 'MCH',
       ' MCHC  ', ' RDW    ', 'TLC', ' PLT /mm3', ' HGB '],
      dtype='object')

In [6]:
for colname in list(df.columns):
    colnamestriped = colname.strip()
    df=df.rename(columns = {colname:colnamestriped})

In [7]:
df.columns

Index(['S. No.', 'Age', 'Sex', 'RBC', 'PCV', 'MCV', 'MCH', 'MCHC', 'RDW',
       'TLC', 'PLT /mm3', 'HGB'],
      dtype='object')

In [8]:
pd.set_option('display.max_columns',None)

In [9]:
df.head(5)

,S. No.,Age,Sex,RBC,PCV,MCV,MCH,MCHC,RDW,TLC,PLT /mm3,HGB
0,NaN,NaN,NaN,Red Blood Cell count,Packed Cell Volume,Mean Cell Volume,Mean Cell Hemoglobin,NaN,Red Cell Distribution width,"White Blood Cell (WBC count),",Platelet,Hemoglobin
1,1.0,28.0,0.0,5.66,34,60.1,17,28.2,20,11.1,128.3,9.6
2,2.0,41.0,0.0,4.78,44.5,93.1,28.9,31.0,13,7.02,419,13.8
3,3.0,40.0,1.0,4.65,41.6,89.5,28.8,32.2,13,8.09,325,13.4
4,4.0,76.0,0.0,4.24,36.7,86.6,26.7,30.8,14.9,13.41,264,11.3

In [10]:
df.loc[df.index[0], 'MCHC'] = 'Mean corp. Hg concentration'

In [11]:
#print(df["Unnamed: 32"].value_counts())

In [12]:
df.drop(columns=["S. No."], axis=1, inplace=True)

In [13]:
column_names = df.columns

list_column_names = list(column_names)

for colname in list_column_names:
    print(f" {list_column_names.index(colname)}  -> {colname}")

 0  -> Age
 1  -> Sex
 2  -> RBC
 3  -> PCV
 4  -> MCV
 5  -> MCH
 6  -> MCHC
 7  -> RDW
 8  -> TLC
 9  -> PLT /mm3
 10  -> HGB

In [14]:
#drop_col_list = [1,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19,21,22,24,25,26,27,28,29,30,31]

In [15]:
#df.drop(df.columns[drop_col_list], axis=1, inplace=True)

In [16]:
#features = df.columns[1:] 
features = df.columns[:] # strange column 'S. No.' already droped

In [17]:
features = list(features)
features

['Age',
 'Sex',
 'RBC',
 'PCV',
 'MCV',
 'MCH',
 'MCHC',
 'RDW',
 'TLC',
 'PLT /mm3',
 'HGB']

In [18]:
df.head(5)

,Age,Sex,RBC,PCV,MCV,MCH,MCHC,RDW,TLC,PLT /mm3,HGB
0,NaN,NaN,Red Blood Cell count,Packed Cell Volume,Mean Cell Volume,Mean Cell Hemoglobin,Mean corp. Hg concentration,Red Cell Distribution width,"White Blood Cell (WBC count),",Platelet,Hemoglobin
1,28.0,0.0,5.66,34,60.1,17,28.2,20,11.1,128.3,9.6
2,41.0,0.0,4.78,44.5,93.1,28.9,31.0,13,7.02,419,13.8
3,40.0,1.0,4.65,41.6,89.5,28.8,32.2,13,8.09,325,13.4
4,76.0,0.0,4.24,36.7,86.6,26.7,30.8,14.9,13.41,264,11.3

In [19]:
df.dtypes

Age         float64
Sex         float64
RBC          object
PCV          object
MCV          object
MCH          object
MCHC         object
RDW          object
TLC          object
PLT /mm3     object
HGB          object
dtype: object

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       364 non-null    float64
 1   Sex       364 non-null    float64
 2   RBC       365 non-null    object
 3   PCV       365 non-null    object
 4   MCV       365 non-null    object
 5   MCH       365 non-null    object
 6   MCHC      365 non-null    object
 7   RDW       365 non-null    object
 8   TLC       365 non-null    object
 9   PLT /mm3  365 non-null    object
 10  HGB       365 non-null    object
dtypes: float64(2), object(9)
memory usage: 32.3+ KB

In [21]:
"""
for colname in features[2:]:
    errors=0
    try:
        df[colname] = pd.to_numeric(df[colname])
    except ValueError as ve:
        errors += 1
        print(ve,"   ",errors)
"""

'\nfor colname in features[2:]:\n    errors=0\n    try:\n        df[colname] = pd.to_numeric(df[colname])\n    except ValueError as ve:\n        errors += 1\n        print(ve,"   ",errors)\n'

In [22]:
header_row = df.iloc[0].copy()
header_row

Age                                   NaN
Sex                                   NaN
RBC                  Red Blood Cell count
PCV                    Packed Cell Volume
MCV                      Mean Cell Volume
MCH                  Mean Cell Hemoglobin
MCHC          Mean corp. Hg concentration
RDW           Red Cell Distribution width
TLC         White Blood Cell (WBC count),
PLT /mm3                         Platelet
HGB                            Hemoglobin
Name: 0, dtype: object

In [23]:
df = df.drop([df.index[0]])
 
df

      Age  Sex   RBC   PCV   MCV   MCH  MCHC   RDW    TLC PLT /mm3   HGB
1    28.0  0.0  5.66    34  60.1    17  28.2    20   11.1    128.3   9.6
2    41.0  0.0  4.78  44.5  93.1  28.9  31.0    13   7.02      419  13.8
3    40.0  1.0  4.65  41.6  89.5  28.8  32.2    13   8.09      325  13.4
4    76.0  0.0  4.24  36.7  86.6  26.7  30.8  14.9  13.41      264  11.3
5    20.0  1.0  4.14  36.9  89.1  27.8  31.2  13.2   4.75      196  11.5
..    ...  ...   ...   ...   ...   ...   ...   ...    ...      ...   ...
369   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
370   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
371   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
372   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
373   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN

[373 rows x 11 columns]

In [24]:
for colname in features[2:]:
    errors=0
    try:
        df[colname] = pd.to_numeric(df[colname])
    except ValueError as ve:
        errors += 1
        print(ve,"   ",errors)

In [25]:
df.dtypes

Age         float64
Sex         float64
RBC         float64
PCV         float64
MCV         float64
MCH         float64
MCHC        float64
RDW         float64
TLC         float64
PLT /mm3    float64
HGB         float64
dtype: object

In [26]:
df["RBC"].value_counts()

4.47    6
4.10    6
4.33    5
4.86    5
5.17    4
       ..
3.37    1
3.21    1
5.07    1
4.07    1
3.42    1
Name: RBC, Length: 195, dtype: int64

In [27]:
#  Count NaN values across a single DataFrame row: df.loc[[index value]].isna().sum().sum()

In [28]:
df['RBC'].isna().sum()

9

In [29]:
df.isna().sum().sum()

99

In [30]:
min_max_mean = df.describe().loc[['min', 'max', 'mean']]

min_max_mean

,Age,Sex,RBC,PCV,MCV,MCH,MCHC,RDW,TLC,PLT /mm3,HGB
min,11.000000,0.000000,1.360000,13.100000,55.700000,14.700000,23.600000,10.600000,2.000000,10.000000,4.200000
max,89.000000,1.000000,6.900000,56.900000,124.100000,41.400000,50.200000,29.200000,42.420000,660.000000,19.600000
mean,44.917582,0.442308,4.278736,36.762912,87.509121,28.227143,32.053407,15.116511,8.863571,223.750824,11.907692

In [31]:
#df['__All causes__'] = df.sum(axis=1, numeric_only=True)
#df

In [32]:
#df.loc['index_of_world']= df.sum() # not integer
#df.loc[999]= df.sum() # pandas positional indexers are out-of-bounds
#df.loc[191]= df.sum()
#df

SyntaxError: invalid syntax (403670585.py, line 1)

In [ ]:
#pd.set_option('display.max_rows',None)
#df_from_dict["Country Name"]
#pd.reset_option("display")

In [ ]:
#df.dtypes

In [ ]:
#df.info()

In [ ]:
#df_for_pie_to_dict

In [ ]:
#national_diseases_percent_colnames

In [ ]:
#for i,feature in enumerate(df_from_dict.columns):
#    print(i," ", feature)

In [ ]:
#checks zeros in road , annotate outliers